html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure the App takes up the full height */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/* Main content should take up remaining space */
main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}








.book-card {
  border: 1px solid #000;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
}

.book-card:hover{
  border: 1px solid #ccc;
  box-shadow: 1px 2px 3px 3px turquoise;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
}



main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: turquoise;
  color: white;
  padding: 10px;
 
  width: 100%;
  bottom: 0;
}

nav {
  background-color: turquoise;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
